.cont-abas,
.cont-abas h1 {
    display: none;
}

.gal1 {
    display: block;
}

@media only screen and (min-width: 769px) {
    #abas {
        margin: 0;
        padding: 0;
        list-style: none;
        width: auto;
        margin: 0 auto;
        display: table !important;
    }
}

@media only screen and (max-width: 768px) {
    #abas {
        margin: 0;
        padding: 0;
        list-style: none;
        width: 90%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 400px) {
    #abas {
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;
        margin: 0 auto;
    }
}

#abas li {
    color: #222222 !important;
    font: 500 12px / 30px 'Open Sans Condensed' !important;
    cursor: pointer;
    padding: 3px 10px;
    float: left;
    border: 1px solid #fff;
    margin-right: 4px;
    text-align: center;
}

#abas li:hover,
#abas li.active {
    border: 1px solid #222222;
}

#abas {
    margin-top: 30px;
}

.cont-abas img {
    border: 0 !important;
    padding: 0 !important;
}

#blog .wpb_content_element {
    margin-bottom: 0 !important;
}

#sidebar,
#post-entries,
#post-author,
.social {
    display: none !important;
}