@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900);
.bannerconceitual {
    width: 100% !important;
    height: 380px !important;

    background-size: cover;
}

.bannerconceitual img {
}
.displaynone{
  display: none;
}
#box-facasuacotacao {
    background: #000;
    float: right;
    margin-top: -450px !important;
    left: 0 !important;
    width: 262px !important;
    /*box-shadow: -20px 0 #fff, 20px 0 #fff;*/
}
.home .flexslider, .business .flexslider{
  display: inline;
float: left;
width: 100%;
margin: 0;
}
img.attachment-full{
      padding: 0;
}
.wpb_gallery_slides.wpb_flexslider.flexslider_slide.flexslider{
      border: 0;
}
#box-facasuacotacao label {
    display: none !important;
}
ul.flex-direction-nav{
  display: none;}
body.rsvp #box-facasuacotacao h3 {
    font: 300 20px / 60px 'Open Sans Condensed' !important;
}

#box-facasuacotacao h3 {
    color: #ffffff !important;
    font: 300 24px / 60px 'Open Sans Condensed' !important;
    text-transform: uppercase !important;
    text-align: center !important;
}

#box-facasuacotacao input[type='text'] {
    width: 100% !important;
    background-color: #ffffff !important;
    border-radius: 5px !important;
    padding: 8px 0 !important;
    color: #666666 !important;
    font: 600 12px 'Open Sans Condensed' !important;
}

#box-facasuacotacao textarea {
    width: 100% !important;
    height: 70px !important;
    background-color: #ffffff !important;
    border-radius: 5px !important;
    padding: 8px 0 !important;
    color: #666666 !important;
    font: 600 12px 'OpenSans' !important;
}

#box-facasuacotacao input[type='button'] {
    border: 1px solid #fff !important;
    border-radius: 30px !important;
    width: 168px !important;
    padding: 15px 0 !important;
    text-align: center !important;
    color: #ffffff !important;
    font: 600 18px / 18px 'Open Sans Condensed' !important;
    text-transform: uppercase !important;
    margin: 0 0 0 32px !important;
    background: transparent !important;
}

#box-facasuacotacao .gfield {
    margin-bottom: 12px !important;
}

#box-facasuacotacao .ginput_container {
    margin-bottom: 0 !important;
}

.titulos-mod1 .vc_separator.wpb_content_element.vc_separator_align_center.vc_sep_width_100.vc_sep_pos_align_center.vc_sep_color_black.tit-padraomod2 h4 {
    color: #222222 !important;
    font: 300 18px / 60px 'Open Sans Condensed' !important;
}

#box-parceiros .vc_separator.wpb_content_element.vc_separator_align_center.vc_sep_width_100.vc_sep_pos_align_center.vc_sep_color_black.tit-padraomod2 h4 {
    color: #fff !important;
    font: 300 18px / 60px 'Open Sans Condensed' !important;
}

.titulos-mod1 .vc_separator .vc_sep_holder .vc_sep_line {
    border: 0 !important;
    background: transparent !important;
}

.titulos-mod1 .vc_separator .vc_sep_holder_l {
    background: url(../images/linha-titulo.png) right 29px no-repeat !important;
}

.titulos-mod1 .vc_separator .vc_sep_holder_r {
    background: url(../images/linha-titulo.png) left 29px no-repeat !important;
}

#box-parceiros .vc_separator .vc_sep_holder_l {
    background: url(../images/bg-linha.png) right 29px no-repeat !important;
}

#box-parceiros .vc_separator .vc_sep_holder_r {
    background: url(../images/bg-linha.png) left 29px no-repeat !important;
}

.titulos-mod1 h2 {
    color: #222222 !important;
    font: 400 54px / 60px 'PlayfairDisplay' !important;
}

#box-parceiros h2 {
    color: #fff !important;
    font: 400 54px / 60px 'PlayfairDisplay' !important;
}

.titulos-mod1 .wpb_content_element {
    margin-bottom: 0 !important;
}

.box-servicos img {
    padding: 0 !important;
    border: 0 !important;
}

.img_nossos_servicos {
    position: relative;
    z-index: 1 !important;
}

.title_nossos_servicos {
    position: absolute;
    top: 35%;
    display: inline-block;
    color: #FFF;
    z-index: 2 !important;
    width: 253px;
    height: 253px;
    text-align: center;
}

.title_nossos_servicos h2 {
    color: #ffffff;
    font: 400 30px 'Playfair Display', serif !important;
    margin-bottom: 5px;
}

.title_nossos_servicos h4 {
    color: #ffffff;
    font: 300 18px OpenSans;
}

.box-postblog h4 a {
    color: #222222 !important;
    font: 400 30px 'OpenSans' !important;
}

.vc_gitem-zone-a .vc_gitem-row-position-middle {
    top: 60% !important
}

.vc_gitem-zone-c.vc_custom_1419240516480 {
    background: transparent !important;
    padding: 0 !important;
    margin-top: -65px !important;
}

.vc_gitem-zone-c.vc_custom_1419240516480 p {
    color: #000 !important;
    font: 400 14px / 30px 'OpenSans' !important;
    line-height: 30px !important;
    padding-right: 50px !important;
    text-align: left !important;
}

.wpb_single_image.wpb_content_element.vc_align_ {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

#box-parceiros {
    background: url(../images/bg-parceiros-box.png) center center no-repeat;
    background-size: cover !important;
    height: 507px !important;
    padding-top: 100px !important;
}

@media only screen and (min-width: 1028px) {
    #logos-parceiros {
        margin: 0;
        padding: 0;
        list-style: none;
        width: 71em;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1027px) {
    #logos-parceiros {
        margin: 0;
        padding: 0;
        list-style: none;
        width: 95%;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1px) and (max-width: 1050px) {
    #logos-parceiros li.item6 {
        display: none !important;
    }
    #logos-parceiros {
        width: 59em !important;
    }
}

@media only screen and (min-width: 1px) and (max-width: 877px) {
    #logos-parceiros li.item5 {
        display: none !important;
    }
    #logos-parceiros {
        width: 47em !important;
    }
}

@media only screen and (min-width: 1px) and (max-width: 700px) {
    #logos-parceiros li.item4 {
        display: none !important;
    }
    #logos-parceiros {
        width: 34em !important;
    }
}

@media only screen and (min-width: 1px) and (max-width: 518px) {
    #logos-parceiros li.item3 {
        display: none !important;
    }
    #logos-parceiros {
        width: 22em !important;
    }
}

#logos-parceiros li {
    width: 140px !important;
    height: 105px !important;
    margin-left: 2.3% !important;
    float: left !important;
    margin-top: 80px;
}

#logos-parceiros .item1 {
    background: url(../images/parceiro1.png) top left no-repeat;
}

#logos-parceiros .item2 {
    background: url(../images/parceiro2.png) top left no-repeat;
}

#logos-parceiros .item3 {
    background: url(../images/parceiro3.png) top left no-repeat;
}

#logos-parceiros .item4 {
    background: url(../images/parceiro4.png) top left no-repeat;
}

#logos-parceiros .item5 {
    background: url(../images/parceiro5.png) top left no-repeat;
}

#logos-parceiros .item6 {
    background: url(../images/parceiro6.png) top left no-repeat;
}

#logos-espacos {
    margin: 0;
    padding: 0;
    list-style: none;
    margin: 0 auto;
}

body.home .wpb_images_carousel.wpb_content_element.vc_clearfix {
    margin-top: 10px;
}

body.home .vc_carousel-inner,
body.home .vc_carousel-inner .vc_carousel-slideline,
body.home .vc_carousel-inner .vc_carousel-slideline .vc_carousel-slideline-inner,
body.home .vc_carousel-inner .vc_carousel-slideline .vc_carousel-slideline-inner .vc_item{
    height: 130px !important;
}
body.home .vc_carousel-inner .vc_carousel-slideline .vc_carousel-slideline-inner .vc_item img{
    width: auto !important;
    border: 0 !important;
}

body.home a.vc_left.vc_carousel-control {
    left: -30px;
}
body.home a.vc_right.vc_carousel-control {
    right: -30px;
}
@media only screen and (min-width: 1028px) {
    #logos-espacos {
        width: 72em;
    }
    #box-espacos {
        background: #fff;
        padding-top: 40px !important;
    }
    #logos-espacos li {
        margin-top: 80px;
    }
}

@media only screen and (max-width: 1027px) {
    #logos-espacos {
        width: 95%;
    }
    #box-espacos {
        background: #fff;
        padding-top: 20px !important;
    }
}

#logos-espacos li {
    width: 167px !important;
    height: 176px !important;
    margin-left: 0 !important;
    float: left !important;
}

#logos-espacos .item1 {
    background: url(../images/espaco1.png) top left no-repeat;
}

#logos-espacos .item2 {
    background: url(../images/espaco2.png) top left no-repeat;
}

#logos-espacos .item3 {
    background: url(../images/espaco3.png) top left no-repeat;
}

#logos-espacos .item4 {
    background: url(../images/espaco4.png) top left no-repeat;
}

#logos-espacos .item5 {
    background: url(../images/espaco5.png) top left no-repeat;
}

#logos-espacos .item6 {
    background: url(../images/espaco6.png) top left no-repeat;
}

#box-mapa .box-imagem-mapa {
    background: url(../images/foto-colling.png) center center no-repeat !important;
    background-size: cover !important;
    height: 535px !important;
    padding: 0 !important;
    border: 0 !important;
}

#box-mapa .box-imagem-mapa img {
    display: none !important;
}

#box-mapa .box-mapa-mapa .wpb_wrapper {
    padding: 0 !important;
    border: 0 !important;
}

#box-localizacao {
    background-color: #dcdcdc !important;
    padding-top: 80px !important;
    margin-bottom: 0 !important;
}

#box-localizacao .box-endereco p {
    color: #000 !important;
    font: 400 14px / 24px 'Open Sans Condensed' !important;
}

@media only screen and (min-width: 530px) {
    #box-localizacao .box-endereco {
        margin: 0 auto !important;
        padding: 40px 0 !important;
    }
}

@media only screen and (max-width: 529px) {
    #box-localizacao .box-endereco {
        margin: 0 auto !important;
        padding: 40px 0 !important;
    }
}

@media only screen and (min-width:400px) and (max-width: 767px) {
    .box-servicos > div {
        float: left;
        width: 50%;
        margin-bottom: 20px;
    }
}

.wpb_single_image img {
    padding: 0 !important;
    border: 0 !important;
}
