@media only screen and (min-width: 769px) {
    #navigation {
        display: none !important;
    }
}

#navigation {
    background: #fff;
}

#navigation ul li a:hover,
#navigation ul li a,
#navigation ul li:hover a,
#navigation ul li:hover a:hover {
    color: #222222 !important;
    font: 300 18px / 0 'Open Sans Condensed' !important;
}

#navigation ul li a:hover {
    text-decoration: underline;
}

#navigation .cart {
    display: none !important;
}

#top {
    background-color: #fff !important;
}

@media only screen and (min-width: 800px) {
    #top .top-nav ul li {
        height: 40px !important;
    }
    #top .top-nav ul li a {
        color: #222222 !important;
        font: 300 17px / 0 'Open Sans Condensed' !important;
        padding: 1px 5px;
    }
    #nav_menu-5 ul#menu-principal li a {
        color: #222222 !important;
        font: 300 18px / 0 'Open Sans Condensed' !important;
        padding: 1px 10px 22px 0;
    }
}

@media only screen and (max-width: 799px) {
    #top .top-nav ul li a {
        color: #222222 !important;
        font: 300 18px / 0 'Open Sans Condensed' !important;
        padding: 1px 8px;
    }
    #nav_menu-5 ul#menu-principal li a {
        color: #222222 !important;
        font: 300 18px / 0 'Open Sans Condensed' !important;
        padding: 1px 8px;
    }
}

@media only screen and (min-width: 1080px) {
    #top .top-nav {
        display: block;
        float: none;
        width: 63.88888889%;
        width: 77%;
        font-size: 18px;
        margin: 0 auto;
        border-bottom: 5px solid #222222;
        padding: 65px 0 39px !important;
    }
    #nav_menu-5 ul#menu-principal {
        display: block;
        float: none;
        width: 63.88888889%;
        width: 80%;
        font-size: 18px;
        margin: 0 auto !important;
        border-bottom: 5px solid #222222;
        padding: 65px 0 39px !important;
    }
}

@media only screen and (min-width: 908px) and (max-width: 1079px) {
    #top .top-nav {
        display: block;
        float: none;
        width: 63.88888889%;
        width: 90%;
        font-size: 18px;
        margin: 0 auto;
        border-bottom: 5px solid #222222;
        padding: 65px 0 39px !important;
    }
    #nav_menu-5 ul#menu-principal {
        display: block;
        float: none;
        width: 63.88888889%;
        width: 90%;
        font-size: 18px;
        margin: 0 auto;
        border-bottom: 5px solid #222222;
        padding: 65px 0 39px !important;
    }
}

@media only screen and (min-width: 769px) and (max-width: 907px) {
    #top .top-nav {
        display: block;
        float: none;
        width: 63.88888889%;
        width: 100%;
        font-size: 18px;
        margin: 0 auto;
        border-bottom: 5px solid #222222;
        padding: 65px 0 39px !important;
    }
    #nav_menu-5 ul#menu-principal {
        display: block;
        float: none;
        width: 63.88888889%;
        width: 100%;
        font-size: 18px;
        margin: 0 auto;
        border-bottom: 5px solid #222222;
        padding: 65px 0 39px !important;
    }
}

html body #top .top-nav ul li#menu-item-319 a {
    color: #b09016 !important;
    font: 700 20px / 13.2px 'Open Sans Condensed' !important;
    padding-left: 77px;
    margin: -8px 0 0 0;
    position: absolute;
    width: 117px;
}

html body #top .top-nav ul li#menu-item-319 a:before {
    background: url(../images/ligar.png) top left no-repeat;
    position: absolute;
    width: 105px;
    height: 53px;
    content: " ";
    margin: -27px 0 0 -42px;
}

:not html body #nav_menu-5 ul#menu-principal li .sub-menu li:last-child a,
html body #nav_menu-5 ul#menu-principal li:last-child a {
    color: #b09016 !important;
    font: 700 20px / 13.2px 'Open Sans Condensed' !important;
    padding-left: 77px;
    margin: -8px 0 0 0;
    position: absolute;
    width: 117px;
}

:not html body #nav_menu-5 ul#menu-principal li .sub-menu li:last-child a:before,
html body #nav_menu-5 ul#menu-principal li:last-child a:before {
    background: url(../images/ligar.png) top left no-repeat;
    position: absolute;
    width: 105px;
    height: 53px;
    content: " ";
    margin: -27px 0 0 -42px;
}

@media only screen and (max-width: 786px) {
    #top {
        display: none !important;
    }
}

#header .header-top .row #logo {
    display: block;
    float: none;
    width: 190px;
    margin: 0 auto;
}

header.post-header h1,
header.post-header + h1 {
    display: none !important;
}

@media only screen and (min-width: 769px) {
    .tit-padrao-centralizado h4 {
        color: #222222 !important;
        font: 400 36px / 60px PlayfairDisplay !important;
    }
}

@media only screen and (max-width: 768px) {
    .tit-padrao-centralizado h4 {
        color: #222222 !important;
        font: 400 14px / 60px PlayfairDisplay !important;
    }
}

.vc_separator .vc_sep_holder .vc_sep_line {
    border-bottom: 1px solid #222 !important;
    background: #fff !important;
}

#slider-binario {
    display: none !important;
}

#content .woocommerce.woocommerce-wrap.woocommerce-columns-4 {
    display: none !important;
}

#header {
    padding-bottom: 0;
    margin-bottom: 0;
}

#main .entry {
    padding-top: 0;
    margin-top: 0;
}

@media only screen and (min-width: 1091px) {
    .tit-padrao-centralizado {
        width: 85% !important;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1090px) {
    .tit-padrao-centralizado {
        width: 100% !important;
    }
}

#header .header-top {
    padding: 61px 0 41px !important;
}

#header .header-top .row #logo img {
    width: 192px !important;
    height: 70px !important;
}

#nav_menu-5 ul#menu-principal {
    padding: 0;
    list-style: none;
}

@media only screen and (min-width: 900px) {
    #nav_menu-5 ul#menu-principal li {
        float: left;
        margin-right: 8px;
    }
}

@media only screen and (max-width: 899px) {
    #nav_menu-5 ul#menu-principal li {
        float: none !important;
        margin-right: 8px !important;
        display: block;
        margin: 11px 0 0 10px !important;
    }
    #nav_menu-5 ul#menu-principal li.menu-item-319 {
        position: absolute;
        right: 217px;
        margin: -183px 0 0 0 !important;
    }
}

.footer-wrap {
    padding-top: 0 !important;
    margin-top: 0 !important;
}

#logo-rodape {
    background: url(../images/logo-rodape.png) top left no-repeat;
    width: 140px;
    height: 53px;
    margin: 52px auto;
}

.redes-sociais {
    width: 120px;
    margin: 0 auto;
}

.listagem-redes-sociais {
    margin: 0;
    padding: 0;
    list-style: none !important;
}

.listagem-redes-sociais li {
    float: left;
    width: 46px;
    height: 43px;
    margin-right: 4px;
}

.listagem-redes-sociais li.face span {
    display: block;
    width: 46px;
    height: 43px;
    background: url(../images/redessociais.png) top left no-repeat;
}

.listagem-redes-sociais li.inst span {
    display: block;
    width: 46px;
    height: 43px;
    background: url(../images/redessociais.png) top right no-repeat;
}

#footer hr {
    display: none !important;
}