/*fonts*/

@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,800,700italic,800italic);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic,900,900italic);

/*importação de css*/

@import url("images-custom/css/topo.css");
@import url("images-custom/css/home.css");
@import url("images-custom/css/eventos.css");

/*font padrao*/

* {
    font-family: 'Open Sans Condensed' !important;
    animation: none !important;
}

body {
    overflow-x: hidden !important;
}

/*cor de fundo do site*/

body {
    margin: 0;
    padding: 0;
    background: #fff;
}

.clr {
    clear: both !important;
}

div#box-facasuacotacao {
    z-index: 999 !important;
}
@media only screen and (min-width: 769px){
    body.single-case #wrapper #content #main {
        width: 96.22222222% !important;
    }
}

#gforms_confirmation_message_6,
#gforms_confirmation_message_2 {
    width: 286px !important;
    height: 500px !important;
    padding: 0px !important;
    margin-left: -15px !important;
    background: #FFF !important;
}

#box-facasuacotacao, #gform_6 {
    background: #b29117 !important;
}

#content {
    max-width: 86.300em !important;
}

.footer-wrap {
    background: transparent !important;
}

.footer-wrap.contact {
    border: 0 !important;
}

.post-content > a {
    display: none !important;
}

.breadcrumbs-wrap {
    display: none !important;
}

header h1 {
    display: none !important;
}
#box-facasuacotacao, #gform_6 {
		background: #b29117 !important;
		width: 100% !important;
		margin-top: 0 !important;
    }


/*A COLLING*/

@media only screen and (min-width: 1100px) {
    .alinhar,
    .box-texto,
    #box-texto {
        width: 90% !important;
        margin: 0 0 0 10% !important;
    }

	#box-facasuacotacao, #gform_6 {
		background: #b29117 !important;
		width: 272px !important;
		margin-top: -44em !important;
		position: relative !important;
		z-index: 9999;
    }
	  .page-id-71 #box-facasuacotacao, .page-id-71 #gform_6{
		margin-top: 0 !important;
	  }
	 .page-id-303 #box-facasuacotacao , .page-id-303 #gform_6{
		margin-top: 43em !important;
		background: #b29117 !important;
		width: 268px !important;
		margin-top: 0 !important;
		position: relative !important;
		z-index: 9999;
		padding: 14px;
	 }
	 .page-id-303 .padrao1 #box-facasuacotacao{
		margin-top: 43em !important;
		padding: 0;

	 }


    .flex-control-nav{
        width: 100%;
        left: 0;
        top: 740px;
    }
    #main{
        margin-top: 61px;
    }

}

@media only screen and (max-width: 1099px) {
    .alinhar,
    .box-texto,
    #box-texto {
        width: 90% !important;
        margin: 0 auto !important;
    }
}

#box-texto h1 {
    color: #222222 !important;
    font: 400 54px / 60px 'Playfair Display' !important;
}

#box-texto p {
    color: #222222 !importamt;
    font: 400 14px / 30px 'Open Sans Condensed' !important;
}


/* TURISMO */

body.turismo .box-texto {
    padding-top: 50px !important;
}
.title_nossos {
    position: absolute;
    top: 35%;
    color: #FFF;
    z-index: 2 !important;
    width: 89%;
    height: 1px;
    text-align: center;
}
.title_nossos h2 a{
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}
.title_nossos h2 a:hover{
  color: #fff;
}

.page-id-305 section#main{
    max-width: 100%;
    width: 100%;
    display: inline;
    float: left;
    width: 100%;
    margin-left: 0;
    margin-right: 0;

}

/* / TURISMO */


/* CONTATO */

.padrao1#box-facasuacotacao {
    margin-top: 0;
    right: 0 !important;
    left: auto !important;
    padding: 0 10px 0 14px !important;
}

.page-id-303 .post-303,
.page-id-71 .post-71 {
    position: relative;
}


/*blog*/

body.single-post .post-meta,
body.single-post .social,
body.single-post #post-entries,
body.single-post #respond,
body.single-post #comments,
body.single-post #post-author,
body.single-post #sidebar {
    display: none;
}

body.single-post #main {
    width: 100% !important;
}

body.single-post article.post .post-content {
    width: 84% !important;
}

body.page-id-393 .vc_custom_1419240516480 .vc_gitem_row.vc_row.vc_gitem-row-position-top {
    margin-top: 30px;
}


/*mapa*/


/* Eduardo Silva Pereira - map custom */

.box_mapa_mask {
    position: relative;
}

.mask_mapa.active {
    position: relative;
    background-color: transparent;
    display: block;
}

.mask_mapa.inative {
    display: none;
}

.mapa.active {
    position: relative;
}

.mapa.inative {
    position: absolute;
}

@media only screen and (min-width: 769px) {
    #menu-principal ul.sub-menu,
    #top ul.nav ul.sub-menu {
        background: #fff;
        /*margin: 39px 0 0 0;*/
        border: 0;
        background: #222;
        padding: 10px 0;
    }
    #menu-principal ul.sub-menu {
        position: absolute;
        width: 200px;
        margin: 19px 0 0 0;
        padding: 10px;
        list-style: none;
    }

    .larr{
      width: 253px;
    }

    .wpb_single_image .vc_single_image-wrapper {
        display: inline-block;
        vertical-align: top;
        max-width: 100%;
        width: 100%;
    }
      .postid-415 div.vc_box_border_grey img,.postid-427 div.vc_box_border_grey img {
        width: 100% !important;
        margin: auto;
        display: block;
        text-align: center;
    }
    html body #nav_menu-5 ul#menu-principal li .sub-menu {
        display: none;
    }
    html body #nav_menu-5 ul#menu-principal li .sub-menu li {
        width: 85% !important;
        padding: 4px 0;
    }
    html body #nav_menu-5 ul#menu-principal li .sub-menu li a,
    #top ul.nav ul.sub-menu li a {
        color: #fff !important;
        clear: both;
    }
    html body #nav_menu-5 ul#menu-principal li .sub-menu li a:hover,
    #top ul.nav ul.sub-menu li a:hover {
        text-decoration: underline;
    }
}
.bannerconceitual{
    display: none;
}
#slider-binario{
    display: block !important;
}
/*.page-id-305 .vc_row.wpb_row.vc_row-fluid.vc_row-no-padding {
    left: -109.813px !important;
}*/
.postid-415 div.vc_box_border_grey img {
	width:1900px;
}

body.home .vc_carousel-inner, body.home .vc_carousel-inner .vc_carousel-slideline, body.home .vc_carousel-inner .vc_carousel-slideline .vc_carousel-slideline-inner, body.home .vc_carousel-inner .vc_carousel-slideline .vc_carousel-slideline-inner .vc_item{
    height: 160px !important;
}
#logos-parceiros{
    display: none;
}

.vc_gitem-zone-c.vc_custom_1419240516480 {
    margin-top: -30px !important;
}

#nav_menu-5 ul#menu-principal li.menu-item-319 a::before {
    background: url("images-custom/images/ligar.png") top left no-repeat !important;
    position: absolute !important;
    width: 105px !important;
    height: 53px !important;
    content: " " !important;
    margin: -27px 0 0 -42px !important;
}
#nav_menu-5 ul#menu-principal li.menu-item-319 a {
    color: #b09016 !important;
    font: 700 20px / 13.2px 'Open Sans Condensed' !important;
    padding-left: 77px;
    margin: -8px 0 0 0;
    position: absolute;
    width: 117px;
}
#main div.gallery dl.gallery-item dt.gallery-icon {
    margin: 1%;
}ul, ol, dl, p, table, form, pre, hr, address {
     margin: 0;
}
